:root {
  --brand-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --icons-bg-color: #afb1b8;
  --primary-txt-color: #212121;
  --secondary-txt-color: #757575;
  --third-txt-color: #ffffff;
  /* --font-family:"Roboto", sans-serif; */
}
